# Exemple de variables d'environnement
# Copie ce fichier et crée .env.local avec tes vraies valeurs
# NE PAS COMMITER .env.local (il est dans .gitignore)

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dvwmz9puj
CLOUDINARY_API_KEY=541725366943753
CLOUDINARY_API_SECRET=8KFcKLxpMfHlpMjDiJ2ZamScnt0

# Neon Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_G4njvl7dHISV@ep-sweet-recipe-adihih03-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

